<div class="row mt-0 g-3">
  <div class="col-12">
    <div class="card">
      <div class="card-body table-responsive">
        <h5 class="card-title"><i class="fa-solid fa-hourglass-end"></i> Últimas transacciones</h5>
        <table class="table mt-2 align-middle table-striped table-hover">
          <caption>Últimos {{ count }} movientos administrativos</caption>
          <thead class="table-light">
            <tr>
              <th>Fecha</th>
              <th>Concepto</th>
              <th>Monto</th>
            </tr>
          </thead>
          <tbody>
            {% for movimiento in transacciones %}
              <tr>
                <td>{{ movimiento.fecha }}</td>
                <td>{{ movimiento.descripcion }}</td>
                <td class="{% if movimiento.tipo == 'ingreso' %}
                    
                    
                    
                    text-success



                  {% else %}
                    
                    
                    
                    text-danger



                  {% endif %}">$ {{ movimiento.monto }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
