<div class="row mt-0 g-3">
  <!-- Ingresos -->
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-secondary">Ingresos</h5>
        <p class="fs-3 fw-medium mb-0">${{ ingreso }}</p>
      </div>
      <div class="card-footer">
        <p class="fs-6 mb-0 mt-0">
          <span class="text-success">+20%</span> que el mes pasado
        </p>
      </div>
    </div>
  </div>

  <!-- Gastos -->
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-secondary">Gastos</h5>
        <p class="fs-3 fw-medium mb-0">${{ gasto }}</p>
      </div>
      <div class="card-footer">
        <p class="fs-6 mb-0 mt-0">
          <span class="text-danger">-20%</span> que el mes pasado
        </p>
      </div>
    </div>
  </div>

  <!-- Gastos -->
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-secondary">Total en cuenta</h5>
        <p class="fs-3 fw-medium mb-0">${{ balance }}</p>
      </div>
      <div class="card-footer">
        <p class="fs-6 mb-0 mt-0">
          <span class="text-success">+20%</span> que el mes pasado
        </p>
      </div>
    </div>
  </div>
</div>
